
/* Change Password button */
.change-password-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 1em;
    width: 100%;
    max-width: 300px;
}