
h2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/* Sizing and positioning of container elements, mostly centering */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw auto;

}

/* Styling for the error message that shows when there's an error with image upload */
#image-error-message {
    color: red;
}
