<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{editPassword.title}"></title>
    <link th:href="@{/css/baseApplicationStyle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/editPassword.css}" rel="stylesheet" type="text/css"/>
    <th:block th:insert="~{fragments/navbar.html :: headerfiles}"></th:block>
</head>

<body>
<script th:src="@{/js/AllForms_ChangeValidityStyles.js}"></script>
<script th:src="@{/js/User_ValidateDetails.js}"></script>
<script>
    window.onload = () => {
        showPasswordChangeErrors();
        validateAll();
    }
</script>

<div>
    <header th:insert="~{fragments/navbar.html :: navbar}"></header>
</div>
<div th:if="${user}">
    <div id="middleBox" class="container">
        <form th:action="@{/editpassword}" method="post">
            <!-- Display error message -->
            <!-- old Password label and input field -->
            <label for="oldPassword" th:text="#{label.oldPassword}"></label>
            <input type="password" id="oldPassword" name="oldPassword" maxlength="200" oninput="removeErrorPopUp(this)" onclick="removeErrorPopUp(this)" autofocus/>
            <br/>

            <!-- New Password label and input field -->
            <label for="password" th:text="#{label.newPassword}"></label>
            <input type="password" id="password" name="newPassword"
                   oninput="validatePassword()" onchange="validatePassword()" maxlength="200"
                   onfocus="removeErrorPopUp(this)" onclick="removeErrorPopUp(this)"/>
            <br/>

            <!-- Confirm Password label and input field -->
            <label for="confirmPassword" th:text="#{label.retypePassword}"></label>
            <input type="password" id="confirmPassword" name="retypePassword" maxlength="200"
                   oninput="validatePasswordsMatch()" onchange="validatePasswordsMatch()"
                   onfocus="removeErrorPopUp(this)" onclick="removeErrorPopUp(this)"/>
            <br/>

            <div class="form-buttons">
                <!-- Submit button -->
                <button type="submit" name="submit" class="button-common"
                        th:text="#{button.changePassword}"></button>
                <!-- Cancel button -->
                <a th:href="@{/profile}" class="button-common link-button-red"
                   th:text="#{button.cancel}"></a>
            </div>

            <input type="hidden" id="incorrectError" th:value="${incorrectError}">
            <input type="hidden" id="matchError" th:value="${matchError}">
            <input type="hidden" id="strengthError" th:value="${strengthError}">

        </form>
    </div>
</div>

<div th:unless="${user}">
    <p th:text="#{message.userNotFound}"></p>
</div>
<script th:src="@{/js/DisableSubmitOnSubmit.js}"></script>
</body>
</html>
