<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="#{myServiceRequests.title}"></title>
    <link th:href="@{/css/baseApplicationStyle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/serviceRequestStyle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/myGardensStyle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/icons.css}" rel="stylesheet">
    <th:block th:insert="~{fragments/navbar.html :: headerfiles}"></th:block>
</head>
<body>
    <!-- Navigation Bar -->
    <header th:insert="~{fragments/navbar.html :: navbar}"></header>

    <div class="container">
        <div class="title" th:text="#{myServiceRequests.header}"></div>
        <br>
        <!--The error below is from a redirection when a user attempts to access another user's serviceRequest-->
        <div th:if="${accessError}" class="error" role="alert">
            <p th:text="${accessError}"></p>
        </div>
        <br>
        <div class="button-container">
            <button th:classappend="${activeTab == 'current'} ? 'active-tab' : 'background-tab'"
                    th:onclick="|window.location.href='@{/myServiceRequests(tab='current')}'|"
                    th:text="#{myServiceRequests.currentTab}">
            </button>
            <button th:classappend="${activeTab == 'history'} ? 'active-tab' : 'background-tab'"
                    th:onclick="|window.location.href='@{/myServiceRequests(tab='history')}'|"
                    th:text="#{myServiceRequests.historyTab}">
            </button>

            <!-- Create service request button, which when clicked, is taken to the new service request form -->
            <button id="create-service-request"
                    th:classappend="${activeTab == 'newRequest'} ? 'active-tab' : 'background-tab'"
                    th:onclick="|window.location.href= '@{/newServiceRequest}'|"
                    th:text="#{myServiceRequests.requestServiceButton}">
            </button>
        </div>
        <!-- For the current requests tab -->
        <div th:if="${activeTab == 'current'}">
            <div th:if="${requests.size() > 0}" class="user-list">
                <div th:each="request : ${requests}">
                    <a th:href="@{/serviceRequest/{id}(id=${request.id})}" style="text-decoration: none; color: inherit;">
                        <div class="garden-container">
                            <div class="garden-info">
                                <div class="attribute-wrapper">
                                    <h3 th:text="${request.getTitle()}">Title</h3><br>
                                </div>
                                <div class="attribute-wrapper">
                                    <span th:text = "${request.getGarden().getName()} ">Distance</span><br>
                                </div>
                                <div class="attribute-wrapper">
                                    <span th:text="${request.getDescription()}"></span><br>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <!-- For the past requests tab -->
        <div th:if="${activeTab == 'history'}">
            <div th:if="${requests.size() > 0}" class="user-list">
                <div th:each="request : ${requests}">
                    <a th:href="@{/serviceRequest/{id}(id=${request.id})}" style="text-decoration: none; color: inherit;">
                        <div class="garden-container">
                            <div class="garden-info">
                                <div class="attribute-wrapper">
                                    <h3 th:text="${request.getTitle()}">Title</h3><br>
                                </div>
                                <div class="attribute-wrapper">
                                    <span th:text = "${request.getGarden().getName()} ">Distance</span><br>
                                </div>
                                <div class="attribute-wrapper">
                                    <span th:text="${request.getDescription()}"></span><br>
                                </div>
                                <div class="attribute-wrapper">
                                    <span th:text="#{myJobs.rating} + ': ★' + ${request.getRating() == null ? 0 : request.getRating()}"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Messages to display if the service list is empty, based on the active tab -->
        <div th:if="${listIsEmpty && activeTab == 'current'}" class="empty-list-message"
            th:text="#{myServiceRequests.noRequests}">
        </div>

        <!-- Messages to display if the service list is empty, based on the active tab -->
        <div th:if="${listIsEmpty && activeTab == 'history'}" class="empty-list-message"
            th:text="#{myServiceRequests.noPastRequests}">
        </div>
              
        <!-- Paginate results -->
        <div th:if="${totalPages > 1}" class="pagination-container">
            <ul class="pagination">
                <li th:if="${currentPage > 0}">
                    <a th:href="@{/myServiceRequests(tab=${activeTab}, page=0, size=${size}, sort=${#strings.arrayJoin(sort, ',')})}" th:text="#{browseGardens.first}"></a>
                </li>
                <li th:if="${currentPage > 0}">
                    <a th:href="@{/myServiceRequests(tab=${activeTab}, page=${currentPage - 1}, size=${size}, sort=${#strings.arrayJoin(sort, ',')})}" th:text="#{message.previous}"></a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:class="${currentPage == i} ? 'active'">
                    <a th:href="@{/myServiceRequests(tab=${activeTab}, page=${i}, size=${size}, sort=${#strings.arrayJoin(sort, ',')})}" th:text="${i + 1}"></a>
                </li>
                <li th:if="${currentPage < totalPages - 1}">
                    <a th:href="@{/myServiceRequests(tab=${activeTab}, page=${currentPage + 1}, size=${size}, sort=${#strings.arrayJoin(sort, ',')})}" th:text="#{message.next}"></a>
                </li>
                <li th:if="${currentPage < totalPages - 1}">
                    <a th:href="@{/myServiceRequests(tab=${activeTab}, page=${totalPages - 1}, size=${size}, sort=${#strings.arrayJoin(sort, ',')})}" th:text="#{browseGardens.last}"></a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>